#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: #10273d;
    color: whitesmoke;
    height: 100vh;
    padding-top: 10vh;
  }
  body{
      margin: 0 !important;
  }
  .navCont{
      width: 25%;
      margin-left: 10%;
      display: flex;
      justify-content: space-between;

  }
